flows (1).json
[
    {
        "id": "b08cac920c32d0c9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2487e5c0fe042479",
        "type": "mqtt in",
        "z": "b08cac920c32d0c9",
        "name": "Sensor KY-037",
        "topic": "noise_monitor/sensor_data",
        "qos": "2",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "1007eb4e88543a3d",
                "6f56a6edf28b2292",
                "55b65e78ac4fb45b",
                "c2de89fd37d58f02"
            ]
        ]
    },
    {
        "id": "1007eb4e88543a3d",
        "type": "debug",
        "z": "b08cac920c32d0c9",
        "name": "Sensor Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "1d72d83bd31b78d3",
        "type": "ui_chart",
        "z": "b08cac920c32d0c9",
        "name": "Gráfico Ruido",
        "group": "b127ddcd70eccbde",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Nivel de Ruido",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Esperando...",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "cutout": "",
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#0b578e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6f56a6edf28b2292",
        "type": "ui_text",
        "z": "b08cac920c32d0c9",
        "group": "b127ddcd70eccbde",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Valor Ruido",
        "label": "Nivel actual:",
        "format": "{{msg.payload.max}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "55b65e78ac4fb45b",
        "type": "function",
        "z": "b08cac920c32d0c9",
        "name": "Guardar Sensor (KY-037)",
        "func": "msg.topic = `INSERT INTO sensors_details(sensor_id, user_id, value) VALUES (8, 1, '${msg.payload.max}')`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            [
                "a0415a5d4806804c"
            ]
        ]
    },
    {
        "id": "160a0780ab81140d",
        "type": "mqtt in",
        "z": "b08cac920c32d0c9",
        "name": "Actuador KY-012",
        "topic": "noise_monitor/actuator_status",
        "datatype": "json",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "084eb4daf13318f0",
                "c8c736a67a898430",
                "97335b79fef7871f"
            ]
        ]
    },
    {
        "id": "084eb4daf13318f0",
        "type": "debug",
        "z": "b08cac920c32d0c9",
        "name": "Actuador Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "true",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "c8c736a67a898430",
        "type": "ui_text",
        "z": "b08cac920c32d0c9",
        "group": "b127ddcd70eccbde",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Estado Buzzer",
        "label": "Estado Buzzer:",
        "format": "{{msg.payload.alarm_active ? 'ACTIVO' : 'INACTIVO'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "97335b79fef7871f",
        "type": "function",
        "z": "b08cac920c32d0c9",
        "name": "Guardar Actuador (KY-012)",
        "func": "msg.topic = `INSERT INTO actuator_details(actuator_id, user_id, state) VALUES (4, 1, '${msg.payload.alarm_active}')`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "a0415a5d4806804c"
            ]
        ]
    },
    {
        "id": "a0415a5d4806804c",
        "type": "sqlite",
        "z": "b08cac920c32d0c9",
        "mydb": "sqlite_db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "SQLite AIOT01",
        "x": 700,
        "y": 260,
        "wires": [
            [
                "8c8182eb6d1e42a1"
            ]
        ]
    },
    {
        "id": "8c8182eb6d1e42a1",
        "type": "debug",
        "z": "b08cac920c32d0c9",
        "name": "DB Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "c2de89fd37d58f02",
        "type": "function",
        "z": "b08cac920c32d0c9",
        "name": "function 1",
        "func": "msg.payload = msg.payload.max;  // o el nombre correcto del campo de nivel de ruido\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "1d72d83bd31b78d3"
            ]
        ]
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "EMQX Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b127ddcd70eccbde",
        "type": "ui_group",
        "name": "Monitor Ruido",
        "tab": "f07f7d56e27c085d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "sqlite_db",
        "type": "sqlitedb",
        "db": "C:\\Users\\vanes\\aiot01.db",
        "mode": "RWC"
    },
    {
        "id": "f07f7d56e27c085d",
        "type": "ui_tab",
        "name": "AIOT Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]